<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>MyFirstServlet</display-name>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
		<!-- 存放一組預設的登入帳密-->
		<init-param>
			<param-name>userId</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>1234</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
		<url-pattern>/returnLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IdentityImgServlet</servlet-name>
		<servlet-class>com.servlet.IdentityImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentityImgServlet</servlet-name>
		<url-pattern>/IdentityImgServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>


	<context-param>
		<param-name>errorMsg</param-name>
		<param-value>Please check your account, thank you!</param-value>
	</context-param>

	<!-- register Listener[myLister] which can count how many users are online-->
	<listener>
		<listener-class>com.listener.myListener</listener-class>
	</listener>

</web-app>